* {
    box-sizing: border-box;
}
/** header **/
header {
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #cccccc;
    position: relative;
    margin: auto;
}

.headercontent {
    max-width: 980px;
    height: 100%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.headerlogo {
   width: 300px;
   height: 100%;
   background-color: #4aaaa5;
}

.headerlogo:hover { 
    background-color: pink; 
}

.headerRightNav {
    display: flex;
    align-items: center;
}

.headerRightNav a {
    text-decoration: none;
    color: #777;
}

.headerRightNav a:hover { 
    color: pink; 
}

.headerlogo h1 {
    color: white;
    text-align: center;
    padding-top: 16px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: 700;
}

/** footer **/
footer {
    position: fixed;
    bottom:0;
    width:100%;
    height: 60px;
    margin: auto;
    background-color: #777;
    border-top: 10px solid #4aaaa5;
    color: aliceblue;
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
}

/** content **/
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    margin: 0px;
}

#mainFrame {
    background-image: url("../images/random_grey_variations.png");
    min-height: 110vh;
}

#body {
    max-width: 960px;
    position: relative;
    top: 30px;
    background-color: whitesmoke;
    border: 1px solid #dddddd;
    padding: 20px;
    padding-top: 40px;
    margin: auto;
    color: #777;
    line-height: 30px;
}

#body h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    font-weight: 700;
}

.bar {
    width: 100%;
    height: 0px;
    border: 1px solid darkgrey;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 30px;
}

.buttonimg {
    width: 18px;
    height: 18px;
}

.aboutbutton {
    opacity: 1;
    transition: 0.5s;
}

.aboutbutton:hover {
    opacity: 0.3;
    background-color: goldenrod;
}

.portfolioimg {
    float: left;
    padding-right: 20px;
}

/** contact page **/
.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: pink; 
}

/** portfolio **/

.project {
    width: 280px;
    height: 220px;
    background-color: black;
    margin-bottom: 20px;
    margin-right:20px;
    position: relative;
    display: inline-block;
    background-size: cover;
}

.project1 {
    background-image: url("../images/websiteimg.jpg");
}

/**
.projectmylaravel { background-image: url("../images/websiteimg.jpg"); object-fit: cover; }
**/
.projectname {
    width: 100%;
    height: 60px;
    background-color: #4aaaa5;
    margin-top: 150px;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    color: white;
}

.projectname:hover { 
    background-color: pink; 
}

@media screen and (max-width: 600px) {
    .headercontent, .headerlogo, .headerRightNav {
        display: block;
        width: 100%;
    }

    .headercontent {
    padding-right: 0px;
    }
    .headerRightNav {
        margin: auto;
        text-align: center;
        background-color: white;
    }
    #body {
        top: 50px;
    }
    
}